@model Product

@{
    ViewBag.Title = "Product Detail";
}

<h1>Product Detail</h1>

<div class="row">
    @*Product Image*@
    <div class="col-sm-4">
        <img src="~/Images/@ViewBag.ImageFileName" alt="@Model.Name" class="img-fluid d-block mx-auto" />
    </div>

    @*Product Table*@
    <div class="col-sm-8">
        <h2>@Model.Name</h2>
        <h4>Category: @ViewBag.CategoryName</h4>

        <table class="table table-bordered table-striped">
            <tr>
                <td>List Price:</td>
                <td>@Model.Price.ToString("C")</td>
            </tr>

            <tr>
                <td>Discount Percent:</td>
                <td>@Model.DiscountPercent.ToString("P0")</td>
            </tr>

            <tr>
                <td>Your Price:</td>
                <td>@Model.DiscountedPrice.ToString("C")</td>
            </tr>
        </table>
    </div>
</div>
